{% extends 'base.html' %}

{% block title %}
FekroBot::mafia::{{ role_name }}
{% endblock %}

{% block import %}
<script>
    var msg = "Hide your device! after clicking on OK your role will be shown.";
{% if is_farsi == True %}
    msg = "دستگاه خود را پنهان کنید! با زدن دکمه زیر نقش شما نشان داده خواهد شد.";
{% endif %}
    alert(msg);
</script>
{% endblock %}

{% block avatar %}
<img class="avatar" src="static/images/roles/{{ image_name }}.png">
{% endblock %}

{% block role_title %}
<h1>{{ role_name }}
{% if is_farsi == True %}
    <h2 id="fa">{{ role_name_fa }}</h2>
{% endif %}
</h1>
{% endblock %}

{% block desc %}
<p>{{ description }}</p>
{% if is_farsi == True %}
    <p id="fa">{{ description_fa }}</p>
{% endif %}
{% endblock %}

{% block id_sec %}
{% endblock %}
